@use "../../../settings/constants";

.mykn-paginator {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-v);
  position: relative;
  width: 100%;

  &__section {
    display: flex;
    align-items: center;
    gap: var(--spacing-h);
  }

  &__section--meta {
    display: flex;
    gap: var(--spacing-v);
    inset-block-start: 50%;
    inset-inline-start: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    justify-content: center;

    > .mykn-icon {
      inset-inline-start: 100%;
      margin-inline-start: var(--spacing-h);
      position: absolute;
    }
  }

  @media screen and (max-width: constants.$breakpoint-desktop - 1px) {
    flex-wrap: wrap;

    &__section {
      flex-basis: calc(50% - var(--spacing-v) / 2);
      white-space: nowrap;
    }

    &__section--meta {
      position: static;
      text-align: end;
      transform: none;
    }

    &__section--options {
      flex-basis: 100%;
    }

    &__ellipsis,
    &__button--page {
      display: none;
    }
  }
}
