@use '../p/p';

.mykn-a {
  @extend .mykn-p;
  color: var(--theme-color-primary-800);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  width: fit-content;

  &:hover {
    text-decoration: none;
  }

  &[aria-current] {
    font-weight: var(--typography-font-weight-bold);
  }
}
