.mykn-badge {
  --mykn-badge-color: var(--typography-color-muted);
  border: 1px solid;
  color: var(--mykn-badge-color);
  align-items: center;
  align-self: baseline; // Prevent the badge from unwanted stretching in flex content (use case: Kanban title toolbar).
  border-radius: 2px;
  display: inline-flex;
  flex-shrink: 0;
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-body-xs);
  font-weight: var(--typography-font-weight-bold);
  height: var(--typography-line-height-body-s);
  justify-content: center;
  line-height: var(--typography-line-height-body-xs);
  overflow: hidden;
  padding: 0 var(--spacing-h);
  position: relative;
  transform-style: preserve-3d;
  white-space: nowrap;

  &--level-info {
    --mykn-badge-color: var(--page-color-info);
  }

  &--level-success {
    --mykn-badge-color: var(--page-color-success);
  }

  &--level-warning {
    --mykn-badge-color: var(--page-color-warning);
  }

  &--level-danger {
    --mykn-badge-color: var(--page-color-danger);
  }

  &[class*="level"]:before,
  &[class*="level"]:after {
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:before {
    background-color: white;
    z-index: -2;
  }

  &:after {
    z-index: -1;
    background-color: var(--mykn-badge-color);
    opacity: 0.025;
  }

  &--rounded {
    border-radius: var(--typography-font-size-body-xs);
  }
}
