.mykn-badge {
  background-color: var(--page-color-info-background);
  color: var(--page-color-info);
  align-items: center;
  border-radius: var(--border-radius-m);
  display: inline-flex;
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-body-xs);
  font-weight: var(--typography-font-weight-normal);
  height: var(--typography-line-height-body-s);
  justify-content: center;
  line-height: var(--typography-line-height-body-xs);
  padding: 0 var(--spacing-h-s);
}
