@use "../../../settings/style";

.mykn-h2 {
  color: var(--typography-color-h);
  font-family: Inter, sans-serif;
  font-size: var(--typography-font-size-h2);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-h2);
  margin-top: 0;
  margin-bottom: 0;
}
