.mykn-select {
  --mykn-select-padding-v: 0;
  --mykn-select-padding-h: 0;
  --mykn-select-font-size: var(--typography-font-size-body-s);
  --mykn-select-line-height: var(--typography-line-height-body-s);
  --mykn-select-min-height: 38px;

  align-items: center;
  background: var(--typography-color-background);
  border: 1px solid var(--form-color-border);
  border-radius: var(--border-radius-s);
  box-sizing: border-box;
  color: var(--typography-color-body);
  cursor: pointer;
  display: inline-flex;
  justify-content: space-between;
  font-family: var(--typography-font-family-body);
  font-size: var(--mykn-select-font-size);
  font-weight: var(--typography-font-weight-normal);
  line-height: var(--mykn-select-line-height);
  min-height: var(--mykn-select-min-height);
  width: min(320px, 100%);
  max-width: 100%;
  padding-block: var(--mykn-select-padding-v);
  padding-inline: var(--mykn-select-padding-h);
  position: relative;
  text-align: start;

  &--pad-h {
    --mykn-select-padding-h: var(--spacing-h);
  }

  &--pad-v {
    --mykn-select-padding-v: var(--mykn-select-padding-xs, var(--spacing-v));
  }

  &--size-xl {
    --mykn-select-font-size: var(--typography-font-size-xl);
    --mykn-select-line-height: var(--typography-line-height-xl);
  }

  &--size-xs {
    --mykn-select-font-size: var(--typography-font-size-body-xs);
    --mykn-select-line-height: var(--typography-line-height-body-xs);
    --mykn-select-min-height: 0;
    --mykn-select-padding-xs: calc(var(--spacing-h) / 2);
  }

  &--size-xxs {
    --mykn-select-font-size: var(--typography-font-size-body-xs);
    --mykn-select-line-height: var(--typography-line-height-body-xs);
    --mykn-select-min-height: 0;
    --mykn-select-padding-xs: calc(var(--spacing-h) / 2);
    --mykn-select-height: calc(3 * var(--spacing-h) + 2px) !important;
    --mykn-select-width: calc(3 * var(--spacing-h) + 2px) !important;
  }

  &[aria-hidden="true"] {
    display: none;
  }

  &--input-size-fit-content {
    width: fit-content;
  }

  // Empty state
  &:has(option[selected][value=""]) &__label {
    color: var(--typography-color-muted);
  }

  &:has(option[selected][value=""]) &__clear {
    visibility: hidden;
  }

  &--variant-transparent {
    background-color: transparent;
  }

  .mykn-icon {
    transition: transform var(--animation-duration-medium)
      var(--animation-timing-function);
  }

  &[aria-expanded="true"] > .mykn-icon {
    transform: scaleY(-1);
  }

  &__label {
    font-size: var(--mykn-select-font-size);
    line-height: var(--mykn-select-line-height);
    width: 100%;
    flex-grow: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__clear {
    appearance: none;
    background-color: transparent;
    border: none;
    color: var(--typography-color-body);
    margin: 0;
    margin-inline-end: var(--spacing-h);
    padding: 0;
    flex-shrink: 0;
  }

  .mykn-icon {
    flex-shrink: 0;
  }

  &__dropdown {
    background: var(--typography-color-background);
    border: 1px solid var(--form-color-border);
    border-radius: var(--border-radius-s);
    box-sizing: border-box;
    min-width: 100%;
    overflow: auto;
    padding: var(--spacing-v) 0;
    width: fit-content;
    z-index: 1000;
  }
}

.mykn-option {
  --mykn-option-color-background: var(--typography-color-background);
  --mykn-option-color-body: var(--typography-color-body);
  --mykn-option-font-weight: var(--typography-font-weight-normal);

  background: var(--mykn-option-color-background);
  box-sizing: border-box;
  color: var(--mykn-option-color-body);
  cursor: pointer;
  font-family: var(--typography-font-family-body);
  font-size: var(--mykn-select-font-size);
  font-weight: var(--mykn-option-font-weight);
  line-height: var(--mykn-select-line-height);
  padding: 0 var(--spacing-h);
  text-align: start;
  white-space: nowrap;

  &[aria-selected="true"] {
    --mykn-option-color-background: var(--typography-color-background-alt);
    --mykn-option-font-weight: var(--typography-font-weight-bold);
  }

  &#{&}--active {
    --mykn-option-color-background: var(--page-color-primary);
    --mykn-option-color-body: var(--page-color-primary-contrast);
  }
}
