.mykn-button {
  $self: &;

  --mykn-button-color-background: var(--typography-color-background);
  --mykn-button-color-border: var(--form-color-border);
  --mykn-button-color-shadow: var(--page-color-shadow);
  --mykn-button-color-text: var(--typography-color-body);

  --mykn-button-font-size: var(--typography-font-size-body-s);
  --mykn-button-font-weight: var(--typography-font-weight-normal);
  --mykn-button-line-height: var(--typography-line-height-body-s);
  --mykn-button-height: auto;
  --mykn-button-width: auto;
  --mykn-button-offset: 0px;

  --mykn-button-padding-v: 0;
  --mykn-button-padding-h: 0;

  align-items: center;
  appearance: none;
  margin: 0;
  padding-block: var(--mykn-button-padding-v);
  padding-inline: var(--mykn-button-padding-h);
  background-color: var(--mykn-button-color-background);
  border: 1px solid var(--mykn-button-color-border);
  border-radius: var(--border-radius-s);
  box-shadow: 0 calc(var(--mykn-button-offset) * -1)
    var(--mykn-button-color-shadow);
  box-sizing: border-box;
  color: var(--mykn-button-color-text);
  cursor: pointer;
  display: inline-flex;
  gap: 0.5em;
  height: var(--mykn-button-height);
  font-family: var(--typography-font-family-body);
  font-size: var(--mykn-button-font-size);
  font-weight: var(--mykn-button-font-weight);
  line-height: var(--mykn-button-line-height);
  text-decoration: none;
  transition: all var(--animation-duration-fast)
    var(--animation-timing-function);
  transform: translateY(var(--mykn-button-offset));
  white-space: nowrap;
  width: var(--mykn-button-width);

  &[disabled] {
    --mykn-button-offset: 0 !important;
    pointer-events: none;
    opacity: 0.4;
  }

  &--align-start {
    justify-content: start;
    text-align: start;
  }

  &--align-center {
    justify-content: center;
    text-align: center;
  }

  &--align-space-between {
    justify-content: space-between;
    text-align: center;
  }

  &--align-end {
    justify-content: end;
    text-align: end;
  }

  &--bold {
    --mykn-button-font-weight: var(--typography-font-weight-bold);
  }

  &--justify {
    --mykn-button-width: 100%;
  }

  &--muted {
    --mykn-button-color-text: var(--typography-color-muted) !important;
  }

  &--pad-h {
    --mykn-button-padding-h: var(--mykn-button-padding-xs, var(--spacing-h));
  }

  &--pad-v {
    --mykn-button-padding-v: var(--mykn-button-padding-xs, var(--spacing-v));
  }

  &--size-xs {
    --mykn-button-font-size: var(--typography-font-size-body-xs);
    --mykn-button-line-height: var(--typography-line-height-body-xs);
    --mykn-button-padding-xs: calc(var(--spacing-h) / 2);
  }

  &--square {
    --mykn-button-height: calc(
      var(--mykn-button-line-height) + 2 *
        var(--mykn-button-padding-xs, var(--mykn-button-padding-v)) + 2px
    );
    --mykn-button-width: calc(
      var(--mykn-button-line-height) + 2 *
        var(--mykn-button-padding-xs, var(--mykn-button-padding-v)) + 2px
    );
    padding-block: 0;
    padding-inline: 0;
    flex-shrink: 0;
  }

  &--variant-primary {
    --mykn-button-color-background: var(--button-color-background-primary);
    --mykn-button-color-border: var(--button-color-border-primary);
    --mykn-button-color-shadow: var(--button-color-shadow-primary);
    --mykn-button-color-text: var(--button-color-text-primary);

    &:focus,
    &:hover {
      --mykn-button-color-background: var(
        --button-color-background-primary-hover
      );
      --mykn-button-color-border: var(--button-color-border-primary-hover);
      --mykn-button-color-shadow: var(--button-color-shadow-primary-hover);
      --mykn-button-color-text: var(--button-color-text-primary-hover);
      --mykn-button-offset: -2px;
    }

    &[aria-expanded="true"],
    &:active,
    &#{$self}--active {
      --mykn-button-color-background: var(
        --button-color-background-primary-active
      );
      --mykn-button-color-border: var(--button-color-border-primary-active);
      --mykn-button-color-shadow: var(--button-color-shadow-primary-active);
      --mykn-button-color-text: var(--button-color-text-primary-active);
      --mykn-button-offset: 0px;
    }
  }

  &--variant-outline {
    --mykn-button-color-background: var(--button-color-background-outline);
    --mykn-button-color-border: var(--button-color-border-outline);
    --mykn-button-color-shadow: var(--button-color-shadow-outline);
    --mykn-button-color-text: var(--button-color-text-outline);

    &:focus,
    &:hover {
      --mykn-button-color-background: var(
        --button-color-background-outline-hover
      );
      --mykn-button-color-border: var(--button-color-border-outline-hover);
      --mykn-button-color-shadow: var(--button-color-shadow-outline-hover);
      --mykn-button-color-text: var(--button-color-text-outline-hover);
      --mykn-button-offset: -2px;
    }

    &[aria-expanded="true"],
    &:active,
    &#{$self}--active {
      --mykn-button-color-background: var(
        --button-color-background-outline-active
      );
      --mykn-button-color-border: var(--button-color-border-outline-active);
      --mykn-button-color-shadow: var(--button-color-shadow-outline-active);
      --mykn-button-color-text: var(--button-color-text-outline-active);
      --mykn-button-offset: 0px;
    }
  }

  &--variant-transparent {
    --mykn-button-color-background: var(--button-color-background-transparent);
    --mykn-button-color-border: var(--button-color-border-transparent);
    --mykn-button-color-shadow: var(--button-color-shadow-transparent);
    --mykn-button-color-text: var(--button-color-text-transparent);

    &:focus,
    &:hover {
      --mykn-button-color-background: var(
        --button-color-background-transparent-hover
      );
      --mykn-button-color-border: var(--button-color-border-transparent-hover);
      --mykn-button-color-shadow: var(--button-color-shadow-transparent-hover);
      --mykn-button-color-text: var(--button-color-text-transparent-hover);
      --mykn-button-offset: -2px;
    }

    &[aria-expanded="true"],
    &:active,
    &#{$self}--active {
      --mykn-button-color-background: var(
        --button-color-background-transparent-active
      );
      --mykn-button-color-border: var(--button-color-border-transparent-active);
      --mykn-button-color-shadow: var(--button-color-shadow-transparent-active);
      --mykn-button-color-text: var(--button-color-text-transparent-active);
      --mykn-button-offset: 0px;
    }
  }

  &--wrap {
    flex-wrap: wrap;
    white-space: normal;
  }
}
