.mykn-li {
  color: var(--typography-color-body);
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-body-s);
  font-weight: var(--typography-font-weight-normal);
  line-height: var(--typography-line-height-body-s);

  &--size-xs {
    font-size: var(--typography-font-size-body-xs);
    line-height: var(--typography-line-height-body-xs);
  }
}
