@use "../../settings/constants";

.mykn-tabs {
  &__tablist {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--spacing-v-l);
    box-sizing: border-box;
    border: 1px solid var(--typography-color-border);
    border-radius: var(--border-radius-s);
    background-color: var(--typography-color-background);
    padding: var(--spacing-v-m) var(--spacing-h-xxxl);
    width: 100%;
  }

  &__tablist .mykn-p {
    color: var(--typography-color-border);
    user-select: none;
  }

  &__content {
    margin-block-start: var(--spacing-h-l);
  }

  @media screen and (max-width: constants.$breakpoint-desktop) {
    &__tablist {
      justify-content: center;
    }

    .mykn-p {
      display: none;
    }
  }
}
