@use "../../settings/constants";

.mykn-tabs {
  width: 100%;

  &__tablist {
    align-items: center;
    border-block-end: 1px solid var(--typography-color-border);
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    gap: var(--sizes-spacing-xs-v);
    width: 100%;
  }

  &__tablist .mykn-button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  // FIXME: Is this still used?
  &__tablist .mykn-p {
    color: var(--typography-color-border);
    user-select: none;
  }

  [aria-selected="true"] {
    box-shadow: 0 2px var(--mykn-button-color-shadow);
  }

  @media screen and (max-width: constants.$breakpoint-desktop) {
    &__tablist {
      justify-content: center;
    }
  }
}
