.mykn-form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-v);
  width: 100%;

  &__fieldset {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-v);
    width: 100%;
  }

  &--direction-horizontal,
  &--direction-horizontal &__fieldset {
    flex-direction: row;
    width: auto;
  }

  .mykn-toolbar .mykn-button {
    justify-content: center !important;
  }
}
