:root[data-mode="dark"] {
  --theme-brand-primary-default: #887AFF;
  --theme-brand-primary-hover: #887AFF;
  --theme-brand-primary-pressed: #887AFF;
  --theme-brand-primary-active: #887AFF;
  --theme-brand-primary-contrast: #341A90;
  --theme-brand-secondary-default: #E7E0FF;
  --theme-brand-secondary-hover: #E7E0FF;
  --theme-brand-secondary-pressed: #E7E0FF;
  --theme-brand-secondary-active: #E7E0FF;
  --theme-brand-secondary-contrast: #341A90;
  --theme-brand-accent-default: #BCB8C8;
  --theme-brand-accent-hover: #BCB8C8;
  --theme-brand-accent-pressed: #BCB8C8;
  --theme-brand-accent-active: #BCB8C8;
  --theme-brand-accent-contrast: #25116D;
  --theme-base-background: #212121;
  --theme-base-background-alternate: #2D2D2D;
  --theme-base-foreground: #FFFFFF;
  --theme-base-foreground-disabled: #8A93A1;
  --theme-base-foreground-muted: #B3BDC9;
  --theme-base-border: #CCCCCC;
  --theme-base-shadow: rgba(0, 0, 0, 0.60);
  --theme-base-link: #887AFF;
  --theme-intent-success-default: #EDFFF3;
  --theme-intent-success-hover: #EDFFF3;
  --theme-intent-success-pressed: #EDFFF3;
  --theme-intent-success-active: #EDFFF3;
  --theme-intent-success-contrast: #2E843D;
  --theme-intent-warning-default: #FFEEE1;
  --theme-intent-warning-hover: #FFEEE1;
  --theme-intent-warning-pressed: #FFEEE1;
  --theme-intent-warning-active: #FFEEE1;
  --theme-intent-warning-contrast: #AC501B;
  --theme-intent-danger-default: #FFE3E3;
  --theme-intent-danger-hover: #FFE3E3;
  --theme-intent-danger-pressed: #FFE3E3;
  --theme-intent-danger-active: #FFE3E3;
  --theme-intent-danger-contrast: #D10000;
  --theme-intent-info-default: #E3FFFF;
  --theme-intent-info-hover: #E3FFFF;
  --theme-intent-info-pressed: #E3FFFF;
  --theme-intent-info-active: #E3FFFF;
  --theme-intent-info-contrast: #007C85;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-mode]) {
  --theme-brand-primary-default: #887AFF;
  --theme-brand-primary-hover: #887AFF;
  --theme-brand-primary-pressed: #887AFF;
  --theme-brand-primary-active: #887AFF;
  --theme-brand-primary-contrast: #341A90;
  --theme-brand-secondary-default: #E7E0FF;
  --theme-brand-secondary-hover: #E7E0FF;
  --theme-brand-secondary-pressed: #E7E0FF;
  --theme-brand-secondary-active: #E7E0FF;
  --theme-brand-secondary-contrast: #341A90;
  --theme-brand-accent-default: #BCB8C8;
  --theme-brand-accent-hover: #BCB8C8;
  --theme-brand-accent-pressed: #BCB8C8;
  --theme-brand-accent-active: #BCB8C8;
  --theme-brand-accent-contrast: #25116D;
  --theme-base-background: #212121;
  --theme-base-background-alternate: #2D2D2D;
  --theme-base-foreground: #FFFFFF;
  --theme-base-foreground-disabled: #8A93A1;
  --theme-base-foreground-muted: #B3BDC9;
  --theme-base-border: #CCCCCC;
  --theme-base-shadow: rgba(0, 0, 0, 0.60);
  --theme-base-link: #887AFF;
  --theme-intent-success-default: #EDFFF3;
  --theme-intent-success-hover: #EDFFF3;
  --theme-intent-success-pressed: #EDFFF3;
  --theme-intent-success-active: #EDFFF3;
  --theme-intent-success-contrast: #2E843D;
  --theme-intent-warning-default: #FFEEE1;
  --theme-intent-warning-hover: #FFEEE1;
  --theme-intent-warning-pressed: #FFEEE1;
  --theme-intent-warning-active: #FFEEE1;
  --theme-intent-warning-contrast: #AC501B;
  --theme-intent-danger-default: #FFE3E3;
  --theme-intent-danger-hover: #FFE3E3;
  --theme-intent-danger-pressed: #FFE3E3;
  --theme-intent-danger-active: #FFE3E3;
  --theme-intent-danger-contrast: #D10000;
  --theme-intent-info-default: #E3FFFF;
  --theme-intent-info-hover: #E3FFFF;
  --theme-intent-info-pressed: #E3FFFF;
  --theme-intent-info-active: #E3FFFF;
  --theme-intent-info-contrast: #007C85;
  }
}
