:root {
  --theme-brand-primary-default: #341A90;
  --theme-brand-primary-hover: #25116D;
  --theme-brand-primary-pressed: #25116D;
  --theme-brand-primary-active: #341A90;
  --theme-brand-primary-contrast: #FFFFFF;
  --theme-brand-secondary-default: #E7E0FF;
  --theme-brand-secondary-hover: #6F5AB7;
  --theme-brand-secondary-pressed: #341A90;
  --theme-brand-secondary-active: #E7E0FF;
  --theme-brand-secondary-contrast: #FFFFFF;
  --theme-brand-accent-default: #BCB8C8;
  --theme-brand-accent-hover: #BCB8C8;
  --theme-brand-accent-pressed: #BCB8C8;
  --theme-brand-accent-active: #BCB8C8;
  --theme-brand-accent-contrast: #25116D;
  --theme-base-background: #FFFFFF;
  --theme-base-background-alternate: #EDEDED;
  --theme-base-foreground: #333333;
  --theme-base-foreground-disabled: #767676;
  --theme-base-foreground-muted: #595959;
  --theme-base-border: #949494;
  --theme-base-shadow: rgba(0, 0, 0, 0.10);
  --theme-base-link: #341A90;
  --theme-intent-success-default: #2E843D;
  --theme-intent-success-hover: #2D7F3A;
  --theme-intent-success-pressed: #256631;
  --theme-intent-success-active: #2E843D;
  --theme-intent-success-contrast: #FFFFFF;
  --theme-intent-warning-default: #FFA305;
  --theme-intent-warning-hover: #FFA305;
  --theme-intent-warning-pressed: #FFA305;
  --theme-intent-warning-active: #FFA305;
  --theme-intent-warning-contrast: #333333;
  --theme-intent-danger-default: #EB0000;
  --theme-intent-danger-hover: #DE3535;
  --theme-intent-danger-pressed: #C43333;
  --theme-intent-danger-active: #EB0000;
  --theme-intent-danger-contrast: #FFFFFF;
  --theme-intent-info-default: #00BFCB;
  --theme-intent-info-hover: #00BFCB;
  --theme-intent-info-pressed: #00BFCB;
  --theme-intent-info-active: #00BFCB;
  --theme-intent-info-contrast: #333333;
}
