:root {
  --theme-brand-primary-default: #341A90;
  --theme-brand-primary-hover: #341A90;
  --theme-brand-primary-pressed: #341A90;
  --theme-brand-primary-active: #341A90;
  --theme-brand-primary-contrast: #FFFFFF;
  --theme-brand-secondary-default: #E7E0FF;
  --theme-brand-secondary-hover: #E7E0FF;
  --theme-brand-secondary-pressed: #E7E0FF;
  --theme-brand-secondary-active: #E7E0FF;
  --theme-brand-secondary-contrast: #341A90;
  --theme-brand-accent-default: #E9F1F9;
  --theme-brand-accent-hover: #E9F1F9;
  --theme-brand-accent-pressed: #E9F1F9;
  --theme-brand-accent-active: #E9F1F9;
  --theme-brand-accent-contrast: #1A5C94;
  --theme-base-background: #FFFFFF;
  --theme-base-background-alternate: #EDEDED;
  --theme-base-foreground: #333333;
  --theme-base-foreground-disabled: #767676;
  --theme-base-foreground-muted: #595959;
  --theme-base-border: #949494;
  --theme-base-shadow: rgba(0, 0, 0, 0.10);
  --theme-base-link: #341A90;
  --theme-intent-success-default: #EDFFF3;
  --theme-intent-success-hover: #EDFFF3;
  --theme-intent-success-pressed: #EDFFF3;
  --theme-intent-success-active: #EDFFF3;
  --theme-intent-success-contrast: #2E843D;
  --theme-intent-warning-default: #FFEEE1;
  --theme-intent-warning-hover: #FFEEE1;
  --theme-intent-warning-pressed: #FFEEE1;
  --theme-intent-warning-active: #FFEEE1;
  --theme-intent-warning-contrast: #AC501B;
  --theme-intent-danger-default: #FFE3E3;
  --theme-intent-danger-hover: #FFE3E3;
  --theme-intent-danger-pressed: #FFE3E3;
  --theme-intent-danger-active: #FFE3E3;
  --theme-intent-danger-contrast: #D10000;
  --theme-intent-info-default: #E3FFFF;
  --theme-intent-info-hover: #E3FFFF;
  --theme-intent-info-pressed: #E3FFFF;
  --theme-intent-info-active: #E3FFFF;
  --theme-intent-info-contrast: #007C85;
}
