@use "../../settings/constants";

.mykn-toolbar {
  $self: &;
  background-color: var(--typography-color-background);
  column-gap: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--spacing-v-s) 0;
  row-gap: 12px;
  text-align: start;

  &--variant-transparent {
    background-color: transparent;
  }

  @media screen and (max-width: constants.$breakpoint-desktop - 1px) {
    .mykn-a,
    .mykn-button,
    .mykn-dropdown {
      justify-content: start;
    }
  }

  @media screen and (min-width: constants.$breakpoint-desktop) {
    &--align-start {
      align-items: start;
      justify-content: start;
      text-align: start;
    }

    &--align-end {
      align-items: end;
      justify-content: end;
      text-align: end;
    }

    &--align-center {
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &--direction-horizontal {
      align-items: center;
      flex-direction: row;
    }

    &--direction-vertical#{&}--align-start .mykn-a,
    &--direction-vertical#{&}--align-start .mykn-button,
    &--direction-vertical#{&}--align-start .mykn-dropdown {
      display: flex;
      justify-content: start;
      text-align: start;
    }

    &--direction-vertical#{&}--align-end .mykn-a,
    &--direction-vertical#{&}--align-end .mykn-button,
    &--direction-vertical#{&}--align-end .mykn-dropdown {
      display: flex;
      justify-content: end;
      text-align: end;
    }

    &--direction-vertical#{&}--align-center .mykn-a,
    &--direction-vertical#{&}--align-center .mykn-button,
    &--direction-vertical#{&}--align-center .mykn-dropdown {
      width: 100%;
    }
  }

  &--pad-a .mykn-a {
    box-sizing: border-box;
    padding: var(--spacing-v-s) var(--spacing-h-s);
  }

  .mykn-a {
    text-decoration: none;
    color: var(--theme-color-body);

    &[aria-current] {
      color: var(--theme-color-primary-800);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--pad-h {
    padding-inline-start: var(--spacing-h-m);
    padding-inline-end: var(--spacing-h-m);
  }
}
