.mykn-logo {
  height: 34px;

  &__image {
    max-width: 155px;
    object-fit: contain;
    overflow: visible;
    width: 100%;
  }

  & &__handle {
    transition: transform var(--animation-duration-fast)
      var(--animation-timing-function);
  }

  &[href]:hover &__handle--left,
  &[href]:focus &__handle--left {
    transform: translateX(-2px);
  }

  &[href]:active &__handle--left {
    transform: translateX(2px);
  }

  &[href]:hover &__handle--right,
  &[href]:focus &__handle--right {
    transform: translateX(2px);
  }

  &[href]:active &__handle--right {
    transform: translateX(-2px);
  }

  &--variant-compact &__text--a,
  &--variant-compact &__text--y,
  &--variant-compact &__text--k,
  &--variant-compact &__text--i,
  &--variant-compact &__text--n {
    display: none;
  }
}
