@use "../../../settings/constants";

.mykn-datagrid {
  background-color: var(--typography-color-background);
  border-radius: var(--border-radius-m);

  &__table {
    border-spacing: 0;
    width: 100%;
  }

  &__caption {
    padding: var(--spacing-v-m) var(--spacing-h-m);
    text-align: start;
  }

  &__head {
    background-color: var(--typography-color-background);
    position: sticky;
    top: 0;
  }

  &__head &__row:first-child &__cell {
    border-top: 1px solid var(--typography-color-border);
  }

  &__head &__cell {
    padding: var(--spacing-v-m) var(--spacing-h-l);
  }

  &__cell {
    border-bottom: 1px solid var(--typography-color-border);
    box-sizing: border-box;
    padding: var(--spacing-v-l) var(--spacing-h-l);

    .mykn-a:not(:last-child) {
      margin-inline-end: var(--spacing-h-xs);

      + .mykn-p {
        display: inline;
      }
    }
  }

  &__cell--type-boolean,
  &__cell--type-null,
  &__cell--type-number {
    text-align: end;
    width: 0;
  }

  &__foot {
    position: sticky;
    bottom: 0;
  }

  &__foot &__cell {
    border-bottom: none;
    padding: 0;
  }

  @media screen and (max-width: constants.$breakpoint-desktop - 1px) {
    background-color: transparent;
    overflow: visible;

    &__table {
      display: block;
    }

    &__caption {
      background-color: var(--typography-color-background);
      border-radius: var(--border-radius-m);
      display: block;
    }

    &__head {
      display: none;
    }

    &__body {
      display: block;
    }

    &__row {
      background-color: var(--typography-color-background);
      display: flex;
      flex-wrap: wrap;

      &:nth-child(even) {
        background-color: var(--typography-color-background-alt);
      }
    }

    &__row:nth-child(even) &__cell {
      border-bottom: 1px solid var(--typography-color-background);
    }

    &__cell {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-h-m);
      width: 100%;
      position: relative;

      .mykn-p {
        font-weight: var(--typography-font-weight-bold);
        width: 100%;
      }

      &:before {
        color: var(--theme-shade-700);
        content: attr(aria-description);
        font-family: var(--typography-font-family-body);
        font-size: var(--typography-font-size-body-xs);
        font-weight: var(--typography-font-weight-normal);
        line-height: var(--typography-line-height-body-xs);
        display: block;
        text-align: start;
        width: 40%;
      }

      &:first-child .mykn-a:has(.mykn-icon) {
        float: right;
      }
    }

    &__cell--type-boolean,
    &__cell--type-number {
      flex-direction: row;
      justify-content: space-between;
      padding: var(--spacing-v-l) var(--spacing-h-l);
      width: 100%;
    }

    &__foot {
      display: flex;
    }

    &__foot &__row {
      width: 100%;
    }

    &__foot &__cell {
      &:before {
        display: none;
      }
    }

    .mykn-toolbar {
      border-radius: var(--border-radius-m);
    }

    .mykn-paginator .mykn-icon--spin:first-child {
      display: none;
    }
  }
}
