@use "../../../settings/constants";

.mykn-datagrid {
  background-color: var(--typography-color-background);
  border-radius: var(--border-radius-l);
  width: 100%;

  &__table {
    border-spacing: 0;
    width: 100%;
  }

  &__caption {
    text-align: start;
  }

  &__head {
    background-color: var(--typography-color-background);
    position: sticky;
    top: 0;
    z-index: 1;
  }

  &__head &__row:first-child &__cell {
    border-block-start: 1px solid var(--typography-color-border);
  }

  &__head &__row--filter {
    background-color: var(--typography-color-background-alt);

    .mykn-input,
    .mykn-select {
      width: 100%;
    }
  }

  &__head &__cell {
    padding: var(--spacing-v) var(--spacing-h);
    text-align: start;
  }

  &__row--selected {
    background-color: var(--page-color-highlight);
  }

  &__cell {
    border-block-start: 1px solid transparent;
    border-block-end: 1px solid var(--typography-color-border);
    box-sizing: border-box;
    padding: var(--spacing-v) var(--spacing-h);
    position: relative;

    .mykn-a:not(:last-child) {
      margin-inline-end: var(--spacing-h);

      + .mykn-p {
        display: inline;
      }
    }
  }

  &__cell--checkbox,
  &__cell--type-boolean,
  &__cell--type-null,
  &__cell--type-number {
    text-align: end;
    width: 0;
  }

  &__cell--editable .mykn-button {
    border: none;
  }

  &__cell--editable:not(#{&}__cell--type-boolean) .mykn-form-control {
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    z-index: 1000;

    .mykn-input {
      width: 100%;
    }
  }

  &__cell--editable:not(#{&}__cell--type-boolean) {
    padding-block: 0;
  }
  base &__cell--editable:not(#{&}__cell--type-boolean):not(#{&}__cell--link) {
    padding-inline: 0;
  }

  &__cell--link .mykn-button {
    width: calc(100% - 1em - 3 * var(--spacing-h));
  }

  &__foot {
    position: sticky;
    bottom: 0;
  }

  &__foot &__cell {
    border-block-start: 1px solid var(--typography-color-border);
    border-block-end: none;
    padding: 0;
  }

  @media screen and (max-width: constants.$breakpoint-desktop - 1px) {
    background-color: transparent;
    overflow: visible;

    &__table {
      display: block;
    }

    &__caption {
      background-color: var(--typography-color-background);
      border-radius: var(--border-radius-l);
      display: block;
    }

    &__head {
      position: static;
    }

    &__head &__row--header {
      display: none;
    }

    &__body {
      display: block;
    }

    &__row {
      background-color: var(--typography-color-background);
      display: flex;
      flex-wrap: wrap;

      &:nth-child(even) {
        background-color: var(--typography-color-background-alt);
      }
    }

    &__row:nth-child(even) &__cell {
      border-block-end: 1px solid var(--typography-color-background);
    }

    &__cell {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-h);
      width: 100%;
      position: relative;

      .mykn-p {
        font-weight: var(--typography-font-weight-bold);
        width: 100%;
      }

      &:before {
        color: var(--typography-color-body);
        content: attr(aria-description);
        font-family: var(--typography-font-family-body);
        font-size: var(--typography-font-size-body-xs);
        font-weight: var(--typography-font-weight-normal);
        line-height: var(--typography-line-height-body-xs);
        display: block;
        text-align: start;
        width: 40%;
      }

      &:first-child .mykn-a:has(.mykn-icon) {
        float: right;
      }
    }

    &__cell--type-boolean,
    &__cell--type-number {
      flex-direction: row;
      justify-content: space-between;
      padding: var(--spacing-v) var(--spacing-h);
      width: 100%;
    }

    &__foot {
      display: flex;
    }

    &__foot &__row {
      width: 100%;
    }

    &__foot &__cell {
      &:before {
        display: none;
      }
    }

    .mykn-toolbar {
      border-radius: var(--border-radius-l);
    }

    .mykn-paginator .mykn-icon--spin:first-child {
      display: none;
    }
  }

  // FIXME: Improve this...
  .mykn-toolbar--sticky-top + & &__head {
    top: calc(var(--typography-line-height-h1) + 2 * var(--spacing-v));
  }

  .mykn-toolbar--sticky-top:has(.mykn-form) + & &__head {
    top: calc(42px + 2 * var(--spacing-v));
  }
}
