@use "../../../settings/constants";

.mykn-datagrid {
  background-color: var(--typography-color-background);
  border-radius: var(--border-radius-l);
  display: flex;
  flex-direction: column;
  width: 100%;

  &__toolbar {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__scrollpane {
    height: 100%;
  }

  &__scrollpane--overflow-x {
    overflow-x: auto;
  }

  &__scrollpane--overflow-y {
    overflow-y: auto;
  }

  &__scrollpane ~ .mykn-toolbar {
    border-block-start: 1px solid var(--typography-color-border);
  }

  &__header {
    padding-block: var(--spacing-v);
    padding-inline: var(--spacing-h);
  }

  &__table {
    border-spacing: 0;
    width: 100%;
  }

  &__table--layout-fixed {
    @media screen and (min-width: constants.$breakpoint-desktop) {
      table-layout: fixed;
    }
  }

  &__thead {
    background-color: var(--typography-color-background);
    position: sticky;
    top: 0;
    z-index: 20;
  }

  &__toolbar ~ &__scrollpane:not(&__scrollpane--overflow-y) &__thead {
    top: var(--mykn-datagrid-thead-top-base, 0px);
  }

  &__thead &__row--filter {
    background-color: var(--typography-color-background-alt);

    .mykn-form-control {
      gap: 0;
      width: 100%;
    }

    .mykn-stackctx,
    .mykn-input,
    .mykn-select {
      width: 100%;
    }

    .mykn-checkbox {
      align-self: flex-end;
    }
  }

  &__thead &__cell {
    text-align: start;
  }

  &__row--selected {
    background-color: var(--page-color-highlight);
  }

  &__cell {
    border-block-start: 1px solid transparent;
    border-block-end: 1px solid var(--typography-color-border);
    box-sizing: border-box;
    padding: var(--spacing-v) var(--spacing-h);
    position: relative;

    .mykn-a:not(:last-child) {
      margin-inline-end: var(--spacing-h);

      + .mykn-p {
        display: inline;
      }
    }
  }

  &:not(#{&}--wrap) &__cell {
    white-space: nowrap;
  }

  &:not(#{&}--wrap) &__cell > .mykn-p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__tbody &__row:last-child &__cell {
    border-block-end: none;
  }

  &__cell--filter {
    padding-inline: var(--spacing-h);
  }

  &__cell--checkbox,
  &__cell--type-boolean,
  &__cell--type-jsx,
  &__cell--type-null,
  &__cell--type-number {
    text-align: end;
    width: 0; // TODO: Possibly 1px for WebKit (Safari)?
  }

  &__cell--checkbox {
    @media screen and (min-width: constants.$breakpoint-desktop) {
      max-width: calc(var(--typography-line-height-body-s) + var(--spacing-h));
      width: calc(var(--spacing-h) * 2 + 20px);
    }
  }

  &__cell--editable:not(#{&}__cell--editing) {
    padding-inline: var(--spacing-h);
  }

  &__cell--editable .mykn-button {
    border: none;
  }

  &__cell--editable#{&}__cell--type-boolean .mykn-form-control {
    align-items: flex-end;
  }

  &__cell--editable:not(#{&}__cell--type-boolean) .mykn-form-control {
    height: 100%;
    left: var(--spacing-h);
    position: absolute;
    top: 0;
    width: calc(100% - var(--spacing-h) * 2);
    z-index: 1000;

    .mykn-input {
      width: 100%;
    }
  }

  &__cell--editable:not(#{&}__cell--type-boolean) {
    padding-block: 0;
  }

  // FIXME?
  base &__cell--editable:not(#{&}__cell--type-boolean):not(#{&}__cell--link) {
    padding-inline: 0;
  }

  &__cell--link .mykn-button {
    width: calc(100% - 1em - 3 * var(--spacing-h));
  }

  .mykn-body {
    display: flex;
    flex-direction: column;
  }

  .mykn-form {
    flex: 1 1 auto;
    height: unset !important;

    &__fieldset {
      flex: 1 1 auto;
      height: unset !important;
    }
  }
}
