.mykn-iconinitials {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 50%;
  text-transform: uppercase;
  padding: 5px;
  box-sizing: border-box;
  background-color: var(--iconinitials-background);
  vertical-align: middle;

  &--sm {
    width: 2em;
    height: 2em;
    font-size: 1em;
    line-height: 2em;
  }

  &--md {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    line-height: 3em;
  }

  &--lg {
    width: 4em;
    height: 4em;
    font-size: 2em;
    line-height: 4em;
  }
}
