.mykn-card {
  background-color: var(--typography-color-background);
  border-radius: var(--border-radius-l);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-block-start: var(--spacing-v);
  }

  & + & {
    margin-block-start: var(--spacing-v);
  }

  &--halign-start {
    align-items: flex-start;
    text-align: left;
  }

  &--halign-center {
    align-items: center;
    text-align: center;
  }

  &--halign-end {
    align-items: flex-end;
    text-align: right;
  }

  &--valign-start {
    justify-content: flex-start;
  }

  &--valign-center {
    justify-content: center;
  }

  &--valign-end {
    justify-content: flex-end;
  }

  &--shadow {
    box-shadow: 0px 0px 5px 0.5px var(--page-color-shadow);
  }
}
