.mykn-card {
  background-color: var(--typography-color-background);
  border-radius: var(--border-radius-l);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  //overflow: clip;  // Turned off for now to allow DatePicker to overflow Card and Modal.
  width: 100%;

  &--full-height {
    height: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-block-start: var(--spacing-v);
  }

  & + & {
    margin-block-start: var(--spacing-v);
  }

  &:has(> .mykn-body),
  &__header:has(> .mykn-body) {
    padding: 0;
  }
}
