.mykn-card {
  background-color: var(--typography-color-background);
  border-radius: var(--border-radius-l);
  box-sizing: border-box;
  width: 100%;

  & + & {
    margin-block-start: var(--spacing-v-m);
  }
}
