.mykn-h1 {
  color: var(--typography-color-h);
  font-family: var(--typography-font-family-h);
  font-size: var(--typography-font-size-h1);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-h1);
  margin-block-start: 0;
  margin-block-end: 0;
}
