.mykn-hr {
  border: 0;
  border-bottom: 1px solid var(--typography-color-border);
  margin: 0;

  &--margin-xs {
    margin: var(--sizes-spacing-xs-v) 0;
  }

  &--margin-s {
    margin: var(--sizes-spacing-s-v) 0;
  }

  &--margin-m {
    margin: var(--sizes-spacing-m-v) 0;
  }
}
