.mykn-input {
  appearance: none;
  align-items: center;
  background: var(--typography-color-background);
  border: 1px solid var(--form-color-border);
  border-radius: var(--border-radius-s);
  box-sizing: border-box;
  color: var(--typography-color-body);
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-body-s);
  font-weight: var(--typography-font-weight-normal);
  line-height: var(--typography-line-height-body-s);
  margin: 0;
  padding: var(--spacing-v) var(--spacing-h);
  position: relative;
  width: min(320px, 100%);
  max-width: 100%;

  &[size] {
    width: auto;
  }

  &[type="checkbox"],
  &[type="radio"] {
    cursor: pointer;
    height: 16px;
    max-width: 16px;
    min-width: 16px;
    width: 16px;

    &:checked {
      border-color: var(--page-color-primary);
    }
  }

  &[type="checkbox"] {
    &:checked:before {
      background-color: var(--page-color-primary);
      mask-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2217%22%20height%3D%2216%22%20viewBox%3D%220%200%2017%2016%22%20fill%3D%22none%22%3E%3Cpath%20d%3D%22m3.594%208%204.019%204.019a1%201%200%200%200%201.601-.26L13.594%203%22%20stroke%3D%22%23341A90%22%20stroke-width%3D%221.5%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E);
      mask-position: center;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &[type="radio"] {
    border-radius: 50%;

    &:checked:before {
      background-color: var(--page-color-primary);
      border-radius: 50%;
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 8px;
      height: 8px;
    }
  }

  &[type="color"] {
    min-height: 38px;
    overflow: hidden;
    padding: 0;

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border: none;
    }

    &:before,
    &:after {
      align-items: center;
      color: var(--typography-color-body);
      content: attr(value);
      display: flex;
      height: 50%;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &:before {
      opacity: 0.9;
      background-color: var(--typography-color-background);
      border-radius: 6px;
      color: transparent;
      padding: var(--spacing-v) var(--spacing-h);
    }
  }

  &[type="file"] {
    border: none;
  }

  &--variant-transparent {
    background-color: transparent;
  }

  .mykn-stackctx & + .mykn-icon {
    pointer-events: none;
    color: var(--typography-color-muted);
    inset-block-start: 50%;
    inset-inline-end: var(--spacing-h);
    position: absolute;
    transform: translateY(-50%);
  }
}
