@mixin tokens {
  /* ANIMATION */
  --animation-timing-function: ease-in-out;
  --animation-duration-fast: 0.1s;
  --animation-duration-medium: 0.3s;
  --animation-duration-slow: 1s;

  @media (prefers-reduced-motion) {
    --animation-duration-fast: 0s;
    --animation-duration-medium: 0s;
    --animation-duration-slow: 0s;
  }

  /* SPACING */
  --border-radius-l: 4px;
  --border-radius-s: 2px;

  --gutter-h-desktop: 24px;
  --gutter-v-desktop: 24px;
  --gutter-h-mobile: 12px;
  --gutter-v-mobile: 12px;

  --spacing-h: 8px;
  --spacing-v: 8px;

  /* BUTTON */

  /* Background color */
  --button-color-background-primary: var(--page-color-primary);
  --button-color-background-primary-hover: var(--page-color-primary);
  --button-color-background-primary-active: var(
    --button-color-background-primary-hover
  );

  --button-color-background-secondary: var(--page-color-secondary);
  --button-color-background-secondary-hover: var(--page-color-secondary);
  --button-color-background-secondary-active: var(
    --button-color-background-secondary-hover
  );

  --button-color-background-outline: transparent;
  --button-color-background-outline-hover: #f2eeff;
  --button-color-background-outline-active: var(
    --button-color-background-outline-hover
  );

  --button-color-background-transparent: transparent;
  --button-color-background-transparent-hover: transparent;
  --button-color-background-transparent-active: var(
    --button-color-background-transparent-hover
  );

  /* Border color */
  --button-color-border-primary: transparent;
  --button-color-border-primary-hover: var(--button-color-border-primary);
  --button-color-border-primary-active: var(--button-color-border-primary);

  --button-color-border-secondary: transparent;
  --button-color-border-secondary-hover: var(--button-color-border-secondary);
  --button-color-border-secondary-active: var(--button-color-border-secondary);

  --button-color-border-outline: var(--form-color-border);
  --button-color-border-outline-hover: var(--button-color-background-primary);
  --button-color-border-outline-active: var(
    --button-color-border-outline-hover
  );

  --button-color-border-transparent: transparent;
  --button-color-border-transparent-hover: var(
    --button-color-border-transparent
  );
  --button-color-border-transparent-active: var(
    --button-color-border-transparent-active
  );

  /* Shadow color */
  --button-color-shadow-primary: #000;
  --button-color-shadow-primary-hover: var(--button-color-shadow-primary);
  --button-color-shadow-primary-active: var(
    --button-color-shadow-primary-hover
  );

  --button-color-shadow-secondary: #000;
  --button-color-shadow-secondary-hover: var(--button-color-shadow-secondary);
  --button-color-shadow-secondary-active: var(
    --button-color-shadow-secondary-hover
  );

  --button-color-shadow-outline: currentColor;
  --button-color-shadow-outline-hover: var(--button-color-shadow-outline);
  --button-color-shadow-outline-active: var(
    --button-color-shadow-outline-hover
  );

  --button-color-shadow-transparent: currentColor;
  --button-color-shadow-transparent-hover: var(
    --button-color-shadow-transparent
  );
  --button-color-shadow-transparent-active: var(
    --button-color-shadow-transparent-hover
  );

  /* Text color */
  --button-color-text-primary: var(--typography-color-background);
  --button-color-text-primary-hover: var(--button-color-text-primary);
  --button-color-text-primary-active: var(--button-color-text-primary);

  --button-color-text-secondary: var(--typography-color-body);
  --button-color-text-secondary-hover: var(--button-color-text-secondary);
  --button-color-text-secondary-active: var(--button-color-text-secondary);

  --button-color-text-outline: var(--typography-color-body);
  --button-color-text-outline-hover: var(--button-color-background-primary);
  --button-color-text-outline-active: var(--button-color-text-outline);

  --button-color-text-transparent: var(--typography-color-body);
  --button-color-text-transparent-hover: var(--button-color-background-primary);
  --button-color-text-transparent-active: var(--button-color-text-transparent);

  /* FORM */
  --form-color-border: #b1b1b1;

  /* PAGE */
  --page-color-background: #f5f7fd;
  --page-color-highlight: var(--page-color-background);
  --page-color-info: #00bfcb;
  --page-color-success: #339343;
  --page-color-warning: #ec9700;
  --page-color-danger: #ff4949;
  --page-color-logo: inherit;
  --page-color-primary: #2b157b;
  --page-color-primary-contrast: var(--typography-color-background);
  --page-color-secondary: #eeeeee;
  --page-color-secondary-contrast: var(--typography-color-body);
  --page-color-shadow: rgba(12, 12, 12, 0.3);
  --page-container-size: 1240px;

  /* TYPOGRAPHY */
  --typography-color-background: #fff;
  --typography-color-background-alt: #f8f8f8;
  --typography-color-h: #0d0d0d;
  --typography-color-body: #5b5b5b;
  --typography-color-border: #ebebeb;
  --typography-color-link: var(--page-color-primary);
  --typography-color-muted: #9d9d9d;

  --typography-font-family-h: "Roboto Slab", sans-serif;
  --typography-font-family-body: Lato, sans-serif;

  --typography-font-size-h1: 32px;
  --typography-font-size-h2: 20px;
  --typography-font-size-h3: 16px;
  --typography-font-size-body-s: 14px;
  --typography-font-size-body-xs: 12px;

  --typography-font-weight-bold: 600;
  --typography-font-weight-normal: 400;

  --typography-line-height-h1: 24px;
  --typography-line-height-h2: 24px;
  --typography-line-height-h3: 24px;
  --typography-line-height-body-s: 24px;
  --typography-line-height-body-xs: 24px;
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 100;
  src: url("/src/fonts/roboto-slab-v34-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 200;
  src: url("/src/fonts/roboto-slab-v34-latin-200.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/roboto-slab-v34-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/roboto-slab-v34-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 500;
  src: url("/src/fonts/roboto-slab-v34-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  src: url("/src/fonts/roboto-slab-v34-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/roboto-slab-v34-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 800;
  src: url("/src/fonts/roboto-slab-v34-latin-800.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 900;
  src: url("/src/fonts/roboto-slab-v34-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 100;
  src: url("/src/fonts/lato-v24-latin-100.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: italic;
  font-weight: 100;
  src: url("/src/fonts/lato-v24-latin-100italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  src: url("/src/fonts/lato-v24-latin-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: italic;
  font-weight: 300;
  src: url("/src/fonts/lato-v24-latin-300italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("/src/fonts/lato-v24-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: italic;
  font-weight: 400;
  src: url("/src/fonts/lato-v24-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("/src/fonts/lato-v24-latin-700.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  src: url("/src/fonts/lato-v24-latin-700italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("/src/fonts/lato-v24-latin-900.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Lato";
  font-style: italic;
  font-weight: 900;
  src: url("/src/fonts/lato-v24-latin-900italic.woff2") format("woff2");
}
