:root {
  /* ANIMATION */
  --animation-timing-function: ease-in-out;
  --animation-duration-fast: 0.1s;
  --animation-duration-medium: 0.3s;
  --animation-duration-slow: 1s;

  @media (prefers-reduced-motion) {
    --animation-duration-fast: 0s;
    --animation-duration-medium: 0s;
    --animation-duration-slow: 0s;
  }

  /* SPACING */
  --border-radius: 8px;

  --gutter-h-desktop: 64px;
  --gutter-v-desktop: 24px;
  --gutter-h-mobile: 12px;
  --gutter-v-mobile: 12px;

  --spacing-h: 8px;
  --spacing-v: 8px;

  /* BUTTON */

  /* Background color */
  --button-color-background-primary: var(--page-color-primary);
  --button-color-background-primary-hover: var(--page-color-primary);
  --button-color-background-primary-active: var(
    --button-color-background-primary-hover
  );

  --button-color-background-outline: transparent;
  --button-color-background-outline-hover: #f2eeff;
  --button-color-background-outline-active: var(
    --button-color-background-outline-hover
  );

  --button-color-background-transparent: transparent;
  --button-color-background-transparent-hover: transparent;
  --button-color-background-transparent-active: var(
    --button-color-background-transparent-hover
  );

  /* Border color */
  --button-color-border-primary: transparent;
  --button-color-border-primary-hover: var(--button-color-border-primary);
  --button-color-border-primary-active: var(--button-color-border-primary);

  --button-color-border-outline: var(--form-color-border);
  --button-color-border-outline-hover: var(--button-color-background-primary);
  --button-color-border-outline-active: var(
    --button-color-border-outline-hover
  );

  --button-color-border-transparent: transparent;
  --button-color-border-transparent-hover: var(
    --button-color-border-transparent
  );
  --button-color-border-transparent-active: var(
    --button-color-border-transparent-active
  );

  /* Shadow color */
  --button-color-shadow-primary: #000;
  --button-color-shadow-primary-hover: var(--button-color-shadow-primary);
  --button-color-shadow-primary-active: var(
    --button-color-shadow-primary-hover
  );

  --button-color-shadow-outline: currentColor;
  --button-color-shadow-outline-hover: var(--button-color-shadow-outline);
  --button-color-shadow-outline-active: var(
    --button-color-shadow-outline-hover
  );

  --button-color-shadow-transparent: currentColor;
  --button-color-shadow-transparent-hover: var(
    --button-color-shadow-transparent
  );
  --button-color-shadow-transparent-active: var(
    --button-color-shadow-transparent-hover
  );

  /* Text color */
  --button-color-text-primary: var(--typography-color-background);
  --button-color-text-primary-hover: var(--button-color-text-primary);
  --button-color-text-primary-active: var(--button-color-text-primary);

  --button-color-text-outline: var(--form-color-border);
  --button-color-text-outline-hover: var(--button-color-background-primary);
  --button-color-text-outline-active: var(--button-color-text-outline);

  --button-color-text-transparent: var(--typography-color-body);
  --button-color-text-transparent-hover: var(--button-color-background-primary);
  --button-color-text-transparent-active: var(--button-color-text-transparent);

  /* FORM */
  --form-color-border: var(--typography-color-border);

  /* PAGE */
  --page-color-background: #ecf1ff;
  --page-color-info: #00bfcb;
  --page-color-info-background: #fff;
  --page-color-success: #56c956;
  --page-color-success-background: #e9ffe9;
  --page-color-danger: #c95656;
  --page-color-danger-background: #ffe8e8;
  --page-color-logo: inherit;
  --page-color-primary: #2b157b;
  --page-color-primary-contrast: var(--typography-color-background);
  --page-color-shadow: #000;
  --page-container-size: 1240px;

  /* TYPOGRAPHY */
  --typography-color-background: #fff;
  --typography-color-background-alt: var(--page-color-background);
  --typography-color-h: #0d0d0d;
  --typography-color-body: #5b5b5b;
  --typography-color-border: #ebebeb;
  --typography-color-link: var(--page-color-primary);
  --typography-color-muted: #9d9d9d;

  --typography-font-family-h: Inter, sans-serif;
  --typography-font-family-body: Inter, sans-serif;

  --typography-font-size-h1: 24px;
  --typography-font-size-h2: 20px;
  --typography-font-size-h3: 16px;
  --typography-font-size-body-s: 14px;
  --typography-font-size-body-xs: 12px;

  --typography-font-weight-bold: 700;
  --typography-font-weight-normal: 400;

  --typography-line-height-h1: 24px;
  --typography-line-height-h2: 24px;
  --typography-line-height-h3: 24px;
  --typography-line-height-body-s: 24px;
  --typography-line-height-body-xs: 24px;
}

/* ASSETS */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
