@use "./base";

@mixin tokens {
  @include base.tokens($brand-color: base.$blue-suede-shoes);
  --page-color-background: #252f3d;
  --page-color-logo: #ffffff;
  --page-color-primary-contrast: var(--typography-color-body);

  --typography-color-background: #313741;
  --typography-color-background-alt: #252f3d;
  --typography-color-body: #e3e5e8;
  --typography-color-border: #535353;
  --typography-color-h: #e3e5e8;
  --typography-color-muted: #8c8c8c;

  --button-color-text-outline: #f3f3f3;
  --button-color-text-primary: #313741;

  --button-color-text-secondary: #313741;

  --button-color-background-outline-hover: #f3f3f3;
  --button-color-background-outline-active: #f3f3f3;
  --button-color-text-outline-active: #313741;

  --button-color-background-transparent-hover: tranparent;
  --button-color-border-transparent-hover: #f3f3f3;
  --button-color-border-transparent-active: #f3f3f3;
  --button-color-text-transparent-hover: #f3f3f3;
}
