.mykn-ol {
  color: var(--typography-color-body);
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-body-s);
  font-weight: var(--typography-font-weight-normal);
  line-height: var(--typography-line-height-body-s);
  list-style-position: inside;
  padding-inline-start: 0;

  &--inline .mykn-li {
    float: left; // fallback
    float: inline-start;
  }

  &--list-style-none {
    list-style: none;
  }

  .mykn-ol {
    padding-inline-start: var(--spacing-h);
  }
}
