.mykn-label {
  color: var(--typography-color-body);
  font-family: var(--typography-font-family-body);
  font-size: var(--typography-font-size-body-s);
  font-weight: var(--typography-font-weight-bold);
  line-height: var(--typography-line-height-body-s);
}
