.mykn-kanban {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__body {
    height: 100%;
  }

  &__body .mykn-grid {
    height: 100%;
  }

  &__body .mykn-column {
    box-sizing: border-box;
    overflow-y: auto;
  }

  &__body &__drop-indicator {
    background-color: var(--page-color-accent);
    border: 1px dashed var(--page-color-primary);
    box-sizing: content-box;
    height: calc(var(--typography-line-height-body-s) * 2);
    padding-block: var(--spacing-v);
  }

  &__body &__drop-target {
    border-color: var(--page-color-primary);
    border-style: dashed;
  }

  &__body .mykn-column > .mykn-body > .mykn-h3 {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__body .mykn-column .mykn-badge {
    margin-inline-start: var(--spacing-h);
  }

  &__track {
    border: 1px solid var(--typography-color-border);
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--spacing-v));
    padding: calc(2 * var(--spacing-v)) calc(2 * var(--spacing-h)) !important;
    position: relative;
  }

  &__track:before {
    background-color: var(--typography-color-border);
    content: "";
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: calc(-2 * var(--spacing-h));
    opacity: 0.1;
    position: absolute;
    width: calc(100% + 2 * var(--spacing-h));
  }

  &__body &__button {
    white-space: normal;

    &:focus-within {
      z-index: 100;
    }
  }

  &__body &__preview {
    display: flex;
    flex-shrink: 0;
    height: calc(var(--typography-line-height-body-s) * 2);
    justify-content: center;
    overflow: hidden;
    width: calc(var(--typography-line-height-body-s) * 2);
  }

  &__select {
    inset-block-end: var(--spacing-v);
    inset-inline-end: var(--spacing-h);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 50%;

    &:focus-within {
      opacity: 1;
      pointer-events: auto;
    }

    &:focus-visible {
      //background-color: green;
      visibility: visible;
    }
  }
}
