.mykn-kanban {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > .mykn-toolbar {
    z-index: 100;
  }

  &__body {
    height: 100%;
  }

  &__body .mykn-grid {
    height: 100%;
  }

  &__body .mykn-column {
    box-sizing: border-box;
    overflow-y: auto;
  }

  &__body &__drop-indicator {
    background-color: var(--page-color-accent);
    border: 1px dashed var(--page-color-primary);
    box-sizing: content-box;
    height: calc(var(--typography-line-height-body-s) * 2);
    padding-block: var(--spacing-v);
    z-index: 10;
  }

  &__body .mykn-column > .mykn-body > .mykn-h3 {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  &__track {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-v);
    height: 100%;
    padding: var(--spacing-v) var(--spacing-h);
    position: relative;
  }

  &__track:before {
    background-color: var(--typography-color-background-alt);
    content: "";
    height: 100%;
    inset-block-start: 0;
    inset-inline-start: calc(-2 * var(--spacing-h));
    position: absolute;
    width: calc(100% + 2 * var(--spacing-h));
  }

  &__body &__button {
    white-space: normal;

    &:focus-within {
      z-index: 100;
    }
  }

  &__select {
    inset-block-end: var(--spacing-v);
    inset-inline-end: var(--spacing-h);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 50%;

    &:focus-within {
      opacity: 1;
      pointer-events: auto;
    }

    &:focus-visible {
      visibility: visible;
    }
  }
}
