.mykn-kanban {
  --mykn-kanban-spacing: 16px;

  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  > .mykn-toolbar {
    z-index: 100;
  }

  &__body {
    height: 100%;
  }

  &__body .mykn-grid {
    height: 100%;
  }

  &__grid {
    grid-template-columns: unset;
  }

  &__column-header .mykn-h3 {
    font-size: var(--typography-font-size-body-md);
    font-weight: var(--typography-font-weight-bold);
    line-height: var(--typography-line-height-body-md);
  }

  &__section {
    background-color: var(--kanban-background);
    padding: var(--mykn-kanban-spacing) 0;
    display: flex;
    flex-direction: column;
  }

  &__body &__drop-indicator {
    background-color: var(--kanban-drop-indicator-background);
    border: 1px dashed var(--kanban-drop-indicator-border);
    box-sizing: content-box;
    height: calc(
      var(--typography-line-height-body-s) *
        var(--typography-font-size-body-s) * 2
    );
    padding-block: var(--sizes-spacing-xs-v);
    z-index: 10;
  }

  &__body .mykn-badge--rounded {
    align-self: center;
  }

  &__body .mykn-column {
    box-sizing: border-box;
    overflow-y: auto;
  }

  &__track {
    display: flex;
    flex-direction: column;
    gap: var(--mykn-kanban-spacing);
    height: 100%;
    padding: var(--mykn-kanban-spacing) !important;
  }

  &__body &__button {
    --mykn-button-color-border: transparent;
    --mykn-button-color-shadow: transparent;
    --card-background: var(--kanban-card-background);
    white-space: normal;
    border-radius: var(--sizes-border-radius-md);

    .mykn-card {
      padding: 8px;
    }

    .mykn-card__header {
      padding-block-start: 0;
    }

    .mykn-card__header > .mykn-body {
      flex: 1;
      padding: 0;
    }

    .mykn-card > .mykn-body {
      padding: 0;
    }

    .mykn-toolbar--direction-vertical {
      row-gap: 4px;
    }

    .mykn-p {
      margin-block-end: 0;
    }

    &:focus-within {
      z-index: 100;
    }
  }

  &__select {
    inset-block-end: var(--sizes-spacing-xs-v);
    inset-inline-end: var(--sizes-spacing-xs-h);
    position: absolute;
    opacity: 0;
    pointer-events: none;
    width: 50%;

    &:focus-within {
      opacity: 1;
      pointer-events: auto;
    }

    &:focus-visible {
      visibility: visible;
    }
  }
}

@media screen and (min-width: 768px) {
  .mykn-kanban {
    &__section {
      overflow: hidden;
    }

    &__body .mykn-column {
      flex: 1;
    }

    &__body .mykn-grid {
      grid-auto-flow: column;
    }
  }
}
