@use "../../settings/constants";

.mykn-page {
  background-color: var(--page-color-background);
  container-name: page;
  container-type: inline-size;
  box-sizing: border-box;
  padding: var(--spacing-h-xl);
  width: 100%;
  min-height: 100%;

  @media screen and (min-width: constants.$breakpoint-desktop) {
    padding: var(--spacing-v-xl) var(--spacing-h-xl);
  }
}
