.mykn-attributetable {
  display: table;

  &__row {
    display: table-row;
  }

  &__cell {
    display: table-cell;
    font-family: var(--typography-font-family-body);
    font-size: var(--typography-font-size-body-s);
    font-weight: var(--typography-font-weight-normal);
    line-height: var(--typography-line-height-body-s);
    margin: 0;

    &:not(:last-child) {
      padding-right: var(--spacing-h);
    }
  }

  &__key {
    font-weight: var(--typography-font-weight-bold);
  }
}
