.mykn-attributetable {
  display: table;

  &__body {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: var(--spacing-h);
  }

  &__cell {
    display: flex;
    align-items: center;
    font-family: var(--typography-font-family-body), sans-serif;
    font-size: var(--typography-font-size-body-s);
    font-weight: var(--typography-font-weight-normal);
    line-height: var(--typography-line-height-body-s);
    margin: 0;
  }

  &__cell--key {
    font-weight: var(--typography-font-weight-bold);
  }
}
