.mykn-bool {
  --mykn-bool-color: var(--page-color-success);
  --mykn-bool-size: 1em;

  height: var(--mykn-icon-size);
  color: var(--mykn-bool-color);

  &--value-false {
    --mykn-bool-color: var(--page-color-danger);
  }

  &--value-false:not(#{&}--explicit) {
    visibility: hidden;
  }
}
