$breakpoint-desktop: 768px;

:root {
  --animation-timing-function: ease-in-out;
  --animation-duration: 0.2s;

  --theme-color-primary-800: #341A90;
  --theme-color-primary-700: #5422B9;
  --theme-color-primary-600: #8D75E6;
  --theme-color-primary-400: #BDB0ED;

  --theme-shade-800: #0F172A;
  --theme-shade-700: #1E293B;
  --theme-shade-600: #334155;
  --theme-shade-400: #475569;

  --theme-shade-1000: #000;
  --theme-shade-0: #FFF;

  --typography-color-background: var(--theme-shade-0);
  --typography-color-text: var(--theme-shade-1000);
}
