:root {
  /* ANIMATION */
  --animation-timing-function: ease-in-out;
  --animation-duration-fast: 0.1s;
  --animation-duration-medium: 0.3s;
  --animation-duration-slow: 1s;

  /* THEME */
  --theme-color-primary-800: #341a90;
  --theme-color-primary-700: #5422b9;
  --theme-color-primary-600: #8d75e6;
  --theme-color-primary-400: #bdb0ed;
  --theme-color-primary-200: #ecf1ff;

  --theme-color-tertiary-800: #0f172a;
  --theme-color-tertiary-700: #1e293b;
  --theme-color-tertiary-600: #334155;
  --theme-color-tertiary-400: #475569;

  --theme-shade-1000: #000;
  --theme-shade-900: #272727;
  --theme-shade-700: #545454;
  --theme-shade-400: #b3b3b3;
  --theme-shade-300: #eaeaea;
  --theme-shade-0: #fff;

  --theme-color-success-body: #0b4f00;
  --theme-color-success-background: #e9ffe9;

  --theme-color-danger-body: #ff4545;
  --theme-color-danger-background: #{rgba(#ff4545, 0.1)};

  /* SPACING */
  --border-radus-l: 12px;
  --border-radus-m: 6px;

  --gutter-h-desktop: 12px;
  --gutter-v-desktop: 24px;

  --gutter-h-mobile: 12px;
  --gutter-v-mobile: 12px;

  --spacing-h-s: 12px;
  --spacing-v-s: 6px;

  --spacing-h-m: 8px;
  --spacing-v-m: 8px;

  --spacing-h-xl: 20px;
  --spacing-v-xl: 50px;

  --spacing-h-xxl: 32px;
  --spacing-v-xxl: 32px;

  /* TYPOGRAPHY */
  --typography-color-background: var(--theme-shade-0);
  --typography-color-h: var(--theme-shade-900);
  --typography-color-body: var(--theme-shade-700);
  --typography-color-muted: var(--theme-shade-400);

  --typography-font-size-h1: 24px;
  --typography-font-size-h2: 20px;
  --typography-font-size-h3: 16px;
  --typography-font-size-body-s: 14px;
  --typography-font-size-body-xs: 12px;

  --typography-font-weight-bold: 700;
  --typography-font-weight-normal: 400;

  --typography-line-height-h1: 24px;
  --typography-line-height-h2: 24px;
  --typography-line-height-h3: 24px;
  --typography-line-height-body-s: 24px;
  --typography-line-height-body-xs: 24px;
}

/* ASSETS */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/src/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}
