.mykn-container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;
}

.mykn-container--debug {
  outline: 1px solid red;
}

.mykn-container--debug[data-testid]:before {
  content: attr(data-testid);
  color: red;
  display: block;
  font-family: monospace;
  text-align: center;
}

.mykn-container--debug[data-testid]:before {
  content: attr(data-testid);
}
