.mykn-container {
  margin: 0 auto;
  max-width: 1240px;
  width: 100%;

  &--debug {
    outline: 1px solid red;
  }

  &--debug[data-testid]:before {
    content: attr(data-testid);
    color: red;
    display: block;
    font-family: monospace;
    text-align: center;
  }

  &--debug[data-testid]:before {
    content: attr(data-testid);
  }
}
