@use "../../../settings/constants";

.mykn-column {
  container-name: column;
  container-type: inline-size;
  grid-column: auto / 6 span;

  &--debug {
    outline: 1px solid blue;
  }

  &--debug:before {
    color: blue;
    content: "Mobile (full span)";
    display: block;
    font-family: monospace;
    text-align: center;
  }

  &--debug[data-testid]:before {
    content: attr(data-testid) !important;
  }

  &--direction-column {
    display: flex;
    flex-direction: column;
  }

  &--direction-row {
    display: flex;
    flex-direction: row;
  }

  @media screen and (min-width: constants.$breakpoint-desktop) {
    @for $i from 1 through 12 {
      &--span-#{$i} {
        grid-column: auto / span #{$i};
      }

      &--debug#{&}--span-#{$i}:before {
        content: "Span #{$i}";
      }

      &--start-#{$i} {
        grid-column-start: $i;
      }
    }
  }
}
