@use "../../../settings/style";

.mykn-column {
  grid-column: auto / 6 span;

  &--debug {
    outline: 1px solid blue;
  }

  &--debug:before {
    color: blue;
    content: "Mobile (full span)";
    display: block;
    font-family: monospace;
    text-align: center;
  }

  &--debug[data-testid]:before {
    content: attr(data-testid)!important;
  }

  @media screen and (min-width: style.$breakpoint-desktop) {
    @for $i from 1 through 12 {
      &--span-#{$i} {
        grid-column: auto / span #{$i};
      }

      &--debug#{&}--span-#{$i}:before {
        content: "Span #{$i}";
      }
    }
  }
}

