@use "../../../settings/constants";

.mykn-body {
  padding: var(--spacing-v-xl) var(--spacing-h-xl);

  .mykn-h1,
  .mykn-h2,
  .mykn-h3,
  .mykn-p,
  .mykn-ol,
  .mykn-ul {
    &:not(:last-child) {
      margin-bottom: var(--spacing-v-l);
    }
  }

  @media screen and (min-width: constants.$breakpoint-desktop) {
    padding: var(--spacing-v-xxxl) var(--spacing-h-xxxl);
  }
}
