@use "../../../settings/constants";

.mykn-body {
  padding: var(--spacing-xs-v) var(--spacing-xs-h);

  .mykn-h1,
  .mykn-h2,
  .mykn-h3,
  .mykn-p,
  .mykn-ol,
  .mykn-ul {
    &:not(:last-child) {
      margin-block-end: var(--spacing-xs-v);
    }
  }

  &--allow-scroll-h {
    overflow-x: auto;
  }

  &--allow-scroll-v {
    overflow-y: auto;
  }

  &--full-height {
    height: 100%;
  }

  @media screen and (min-width: constants.$breakpoint-desktop) {
    padding: var(--spacing-xs-v) var(--spacing-xs-h);
  }
}
