.mykn-tooltip {
  transition: all 0.5s;
  transform: scale(0.8);
  opacity: 0;
  border-radius: var(--border-radius-l);
  background-color: var(--typography-color-background);
  border: 1px solid var(--page-color-info);

  &--open {
    opacity: 1;
    transform: scale(1);
  }

  &__arrow {
    fill: var(--page-color-info);
  }

  &__content {
    padding: var(--spacing-h) var(--spacing-v);
    box-sizing: border-box;
    overflow-wrap: break-word;

    &--sm {
      max-width: 200px;
    }

    &--md {
      max-width: 400px;
    }

    &--lg {
      max-width: 600px;
    }
  }
}
