@use "../../../settings/constants";

.mykn-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gutter-v-mobile) var(--gutter-h-mobile);
  width: 100%;

  &--debug {
    outline: 1px solid green;
  }

  &--debug[data-testid]:before {
    content: attr(data-testid);
    color: green;
    display: block;
    font-family: monospace;
    grid-column: 1 / 6 span;
    text-align: center;
  }

  &--debug[data-testid]:before {
    content: attr(data-testid);
  }

  @media screen and (min-width: constants.$breakpoint-desktop) {
    & {
      grid-template-columns: repeat(12, 1fr);
      gap: var(--gutter-v-desktop) var(--gutter-h-desktop);
    }

    &--debug[data-testid]:before {
      grid-column: 1 / 12 span;
    }
  }
}
