@import '../../../settings/style';

.mykn-grid {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 12px;
  width: 100%;
}

.mykn-grid--debug {
  outline: 1px solid green;
}

.mykn-grid--debug:before {
  color: red;
}

.mykn-grid--debug[data-testid]:before {
  content: attr(data-testid);
}

@media screen and (min-width: $breakpoint-desktop) {
  .mykn-grid {
    grid-template-columns: repeat(12, auto);
    gap: 32px;
  }
}
