@use "../../settings/constants";

.mykn-paginator {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-v-m);

  &__section {
    align-items: center;
    display: flex;
    gap: var(--spacing-h-m);
  }

  @media screen and (max-width: constants.$breakpoint-desktop - 1px) {
    &__section--form {
      display: none;
    }

    &__section {
      width: 100%;
      justify-content: flex-end;

      .mykn-button {
        justify-content: center !important;
      }
    }
  }
}
