.mykn-form-control {
  align-items: baseline;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-v);

  &--direction-horizontal {
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
  }

  &--justify-stretch {
    align-items: stretch;

    .mykn-input,
    .mykn-select {
      width: 100%;
    }
  }
}
