.mykn-form-control {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-v-m);

  .mykn-input,
  .mykn-select {
    width: 100%;
  }

  &--direction-horizontal {
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
  }
}
