.mykn-form-control {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-v);

  .mykn-input,
  .mykn-select {
    width: 100%;
  }

  .mykn-stackctx:has(.mykn-icon) .mykn-input,
  .mykn-stackctx:has(.mykn-icon) .mykn-select {
    padding-right: 30px;
  }

  &--direction-horizontal {
    align-items: center;
    flex-direction: row;
    white-space: nowrap;
  }
}
