@use "../../../settings/constants";

.mykn-attributelist {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-xs-h);

  .mykn-h3 {
    width: 33%;
  }

  &__list {
    display: grid;
    gap: 0;
    grid-template-columns: 1fr;
    margin: 0;
    width: 66%;
  }

  &__key,
  &__value {
    font-family: var(--typography-font-family-body);
    font-size: var(--typography-font-size-body-s);
    font-weight: var(--typography-font-weight-normal);
    line-height: var(--typography-line-height-body-s);
    margin: 0;
  }

  &__key {
    color: var(--typography-color-h);
    font-weight: var(--typography-font-weight-bold);
  }

  &__value {
    color: var(--typography-color-muted);

    &:not(:last-child) {
      margin-bottom: var(--spacing-xs-v);
    }
  }

  @media screen and (min-width: constants.$breakpoint-desktop) {
    flex-direction: row;
  }
}
