@use "../../../settings/constants";

.mykn-attributelist {
  .mykn-h2 {
    margin-block-end: 16px;
  }

  &__list {
    display: grid;
    gap: 0 var(--spacing-v-l) var(--gutter-h-mobile);
    grid-template-columns: 1fr;
    margin: 0;
  }

  &__key,
  &__value {
    font-family: var(--typography-font-family-body);
    font-size: var(--typography-font-size-body-s);
    font-weight: var(--typography-font-weight-normal);
    line-height: var(--typography-line-height-body-s);
    margin: 0;
  }

  &__key {
    color: var(--typography-color-muted);
  }

  &__value {
    color: var(--typography-color-body);
  }

  @media screen and (min-width: constants.$breakpoint-desktop) {
    &__list {
      gap: var(--spacing-v-l) var(--gutter-h-desktop);
      grid-template-columns: 1fr 1fr;
    }
  }
}
